<div class="fisherman-catches-container">
  <div class="fisherman-catches-header">
    <h1>Catches</h1><button class="btn"><i class="fas fa-plus-circle"></i>Add new catch</button>
  </div>
  <div class="fisherman-catches-cards-container">
    <% @catches.each do |c| %>
      <div class="fisherman-catch-card">
        <div class="fisherman-catch-card-image">
          <%= cl_image_tag("Fish #{c.fish.id}", :transformation=>[{:aspect_ratio=>"4:3", :crop=>"fill"}, {:width=>"300", :dpr=>"auto", :crop=>"fit"}], class: 'fisherman-catch-card-image-inner', alt: 'fish image') %>
        </div>
        <div class="fisherman-catch-card-info">
          <div><%= c.fish.english %></div>
          <div><%= "#{c.weight} kg" %></div>
          <button class="btn btn-ghost">Sell in Market</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
