<div class="banner">
  <div class="container">
    <h1>Samak: connecting <strong>you</strong> to your local<strong> fisherman</strong>!</h1>
    <p>Fresher, Healthier, Local fish delivered to your doorstep</p>
    <a class="btn btn-ghost" href="#">Browse Today's Fish</a>
  </div>
</div>

<h1>Pages#Market</h1>

<% @products.each do |p| %>
<h4><%= p.catch.fish.english %></h4>
<%= image_tag(p.catch.fish.image.url) %>
<%= link_to items_path(item: {product_id: p.id, cart_id: @current_cart.id}), method: :post do %> <i class='fas fa-plus'></i> <% end %>
 <% end %>
